---
title: Tag
description: The tag component indicates the status of something, such as an item on a task list or a phase banner
section: Components
aliases: chip, badge, flag, token
backlog_issue_id: 62
layout: layout-pane.njk
---

{% from "_example.njk" import example %}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}

{{ example({group: "components", item: "tag", example: "default", html: true, nunjucks: true, open: false}) }}

## When to use this component

Use the tag component to indicate the status of something, such as an item on a [task list](../../patterns/task-list-pages) or a [phase banner](../phase-banner).

## How it works

There are 2 ways to use the tag component. You can use HTML or, if you are using [Nunjucks](https://mozilla.github.io/nunjucks/) or the [GOV.UK Prototype Kit](https://govuk-prototype-kit.herokuapp.com), you can use the Nunjucks macro.

### Using multiple tags

You can use multiple tags for things that have multiple states. For example, items in a [task list](../../patterns/task-list-pages).

Tags should help people to organise things into useful categories: for example, inactive and active users.

{{ example({group: "components", item: "tag", example: "multiple-tags", html: true, nunjucks: true, open: false }) }}

### Start with as fewer categories as possible

The more categories you add, the harder it is for users to remember them. So start with the fewest number of tags you think might work, then add more if your user research shows there’s a need for them.

### Using colour to distinguish between different categories

You can use colour to help distinguish between different tags - or to help draw the user’s attention to a tag if it’s especially important. For example, it probably makes sense to use  `govuk-tag--red` for a tag that reads ‘Urgent’.

{{ example({group: "components", item: "tag", example: "coloured-tags", html: true, nunjucks: true, open: false }) }}

### Avoid using a different tag styles at the same time

Avoid using tinted colours and white text on solid colour tags at the same time because the solid colours are more prominent.

You can use a mix if you only have 2 states. For example, it's okay to use `govuk-tag--grey` and the default white text on blue tags together.

### Use the same colour with the same wording

Tags that have the same wording should use the same colour. [Do not use colour alone to convey information](https://www.w3.org/WAI/WCAG21/Understanding/use-of-color.html) because it’s not accessible.

### Do not make tags clickable

Do not add links around your tags. Do not use verbs as tag content. Tags should be used as statuses, not actions.

### Available colours

You can use the following colours in your service.

{{ example({group: "components", item: "tag", example: "all-colours", html: true, nunjucks: true, open: false }) }}

## Research on this component

The Department for Education contributed the coloured tags. They’re being used in:

- apply for teacher training (used by citizens)
- manage teacher training applications (used by teacher training providers)
